@import '../../global.scss';

.intro{
    background-color: white;
    display: flex;

    @include mobile{
        flex-direction: column;
        align-items: center;
    } 

    .left{
        flex: 0.5;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        .imgContainer{
            width: 600px;
            height: 600px;
            background-color: crimson;
            border-radius: 50%;
            float: center;
            display:flex; 
            align-items: flex-start;
            justify-content: center;

            @include mobile{
                align-items: flex-start;
            } 


            img{
                height: 80%;
                display:flex;
                align-items: center;
                @include mobile{
                    height: 40%;
                } 
            }
        }
        @include mobile{
            display: initial;
        } 
    }

    .right{
        flex: 0.5;
        position: relative;
        padding: 0px 10px;
        text-align: center;
        .wrapper{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h3{
                margin: 10px 0;
                @include mobile{
                    font-size: 20px;
                } 
            }
            h1{
                @include mobile{
                    font-size: 18px;
                } 
            }
        }

        a{
            position: absolute;
            bottom: 17px;
            left: 40%;

            img{
                width: 30px;
                animation: arrowBlink 2s infinite;
            }

            @keyframes arrowBlink {
                100%{
                    opacity: 0;
                }
            }
        }
    }
}